<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
    Lista de cursos aqui.
</div>

<div *ngIf="cursos.length == 0">
    Não há cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
    Não há cursos para serem listados.
</div>

<br>
<button class="btn btn-primary" (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>hidden como alternativa</h5>

Usar o ngIf pra renderizar ou esconder um componente altera a árvore 
DOM da página, o que é muito custoso. Portanto, há uma alternativa
para que isso não seja tão dispendioso.

<br><br>

<div [hidden]="!mostrarCursos">
    Lista de cursos aqui.
</div>

<div [hidden]="mostrarCursos">
    Não há cursos para serem listados.
</div>

<h5>Removendo o * e usando template </h5>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<ng-template [ngIf]="mostrarCursos">
    <div>
        Lista de cursos aqui.
    </div>
</ng-template>

<!-- <h3> Class e style binding </h3>

<section>
    <article>
        Selecione uma classe: 
        <select #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alerta</option>
            <option value="alert-danger">Erro</option>
        </select>
        <br><br>

        <div class="alert {{ classe.value }}" role="alert">
            Texto colorido de acordo com o valor selecionado.
        </div>

        <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
            Sucesso
        </div>
        
        <div class="alert" role="alert"
            [class.alert-info]="classe.value == 'alert-info'">
            Info
        </div>

        <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">
            Alerta
        </div>
        
        <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">
            Erro
        </div>

        <div class="alert alert-danger" role="alert" 
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            Erro
        </div>

    </article>
</section> -->