<!-- Módulo do curso sobre diretivas inicia aqui -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- app-diretiva-ngstyle></app-diretiva-ngstyle -->
<!--app-operador-elvis></app-operador-elvis-->
<!--app-exemplo-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">
        Conteúdo passado para o componente.
    </div>
</app-exemplo-ng-content-->
<!--app-diretivas-customizadas></app-diretivas-customizadas-->

<!-- Módulo do curso sobre serviços inicia aqui -->
<!--app-criar-curso></app-criar-curso>
<br><br>
<app-cursos></app-cursos-->

<!-- Módulo do curso sobre pipes começa aqui -->
<!-- <app-exemplo-pipes></app-exemplo-pipes> -->

<!-- Módulo do curso sobre rotas inicia aqui -->

<!-- <nav *ngIf="mostrarMenu">
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Rotas ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="cursos" [queryParams]="{ pagina: 1 }">Cursos</a></li> -->
            <!--li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Curso com ID</a></li-->
            <!-- <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
        </ul>
    </div>
</nav> -->

<!-- <div class="container"> -->
    <!--p>
        Entre com o ID do curso
    </p>
    <input #idCurso-->
<!-- </div> -->
<app-rotas></app-rotas>
<router-outlet></router-outlet>

